



body{margin: 10px;
    background-image:url("greyy.jpg")

}

h1{
  color: rgb(0, 0, 0);
  font-size: 120px;
}




h3{
color: rgb(39, 42, 88);
font-size: 45px;

}
.menust{
    font-size: 35px; 
    font-weight: bold;   
    color: rgb(39, 42, 88);
}
.menust:hover{
    font-size: 35px; 
    font-weight: bold;   
    color: rgb(37, 129, 75);   
}
.imgsz{width:35% ;
height: 35%;
}
.imgcent{
   display: flex; 
    justify-content: center;


}
.imgcentsz{width:25% ;
    height: 25%;
    display: flex; 
    justify-content: center;


}

.sertext{
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p{color: rgb(12, 14, 11);
    font-size: 35px;
    text-align: center;
}

.largetext{
    font-size: 38px;

}


img{
   width: 20%;
}

#menu {
    display: flex;
    height:40px;
    background-color:black(184, 183, 178);
    justify-content: space-evenly;
    align-items:center

}
.content{font-size: 45px;
    background-color: rgb(61, 39, 43) (168, 158, 150);
    border: solid 0px;

}
.lefts{
   display: flex;
   align-items: center;
   justify-content: center;
}


.rights{
    display:flex;
    justify-content: flex-end;
}